.body {
	width: 100vw;
	height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	background: url(../assets/VINTAGE.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.nav {
	display: flex;
	max-width: 60%;
	height: .6rem;
	background: linear-gradient(90deg, #FFC733, #FF7E7C);	
	margin: 1.3rem auto;
	border-radius: 2rem;
}

.nav__button {
	width: 8vw;
	background-color: transparent;
	border-radius: 2rem;
	border: none;
}

.nav__button--active {
	background-color: #4B6464;
}

.slideshow__container {
	width: 100vw;
	height: 80vh;
	overflow: scroll;
	display: flex;
	align-items: center;
}

.slideshow__container::-webkit-scrollbar {
	display: none;
}

.slideshow__slider {
	display: flex;
	list-style: none;
	gap: 6rem;
	align-items: baseline;
	padding: 0 calc(50% - 240px) 0 calc(50% - 160px);

}

.slideshow__item {
	width: 20rem;
	border-bottom: 1px solid #4B6464;
}

.slideshow__item--wide {
	width: 30rem;
}

.image {
	width: 100%;
}

.figcaption__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: .5rem;
}

.figcaption {
	font-size: 1rem;
	font-weight: 600;
	text-transform: capitalize;
	color: #4B6464;
}

.paragraph {
	font-size: .8rem;
	color: #4B6464;
}

.navigating__buttons {
	width: 100%;
	margin: 1rem auto;
	display: flex;
	justify-content: center;
}

.navigating__button {
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	border: 2px solid #566D6C;
	background-color: transparent;
	margin: .3rem;
	cursor: pointer;
}

.navigating__button:hover {
	background-color: #4b64644b;
}

.navigating__button--left {
	background-image: url(../assets/arrow-left.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.navigating__button--right {
	background-image: url(../assets/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
}






/* Mobile */

@media screen and (max-width: 992px) {
	
	.body {
		justify-content: flex-start;
		margin-bottom: 1rem;
	}

	.main {
		background: none;
	}

	.slideshow__container {
		height: 100vh;
		align-items: flex-start;
	}
	
	.slideshow__slider {
		flex-direction: column;
		align-items: center;
		padding-left: calc(50% - 240px);
		padding: 2rem 0 8rem calc(50% - 240px);
		gap: 4rem;
	}

	.footer {
		display: none;
	}

}