body {
	overflow: hidden;
}

ul {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	list-style: none;
	gap: 6rem;
	width: 375%;
	max-height: 60vh;
	align-items: baseline;
	top: 10%;
	left: 0;
	/* overflow: hidden; */
	position: absolute;
	transition: 0s ease-in;
}

img {
	width: 100%;
	object-fit: cover;
}

figcaption {
	padding: 1.5rem 0 0 0;
	border-bottom: 1px solid black;
}

.nav {
	width: 60%;
	background: linear-gradient(90deg, #FFC733, #FF7E7C);	
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 1rem auto;
	border-radius: 2rem;
}

.nav__button {
	width: 8.3%;
	height: .5rem;
	background-color: transparent;
	border-radius: 2rem;
	border: none;
}

.nav__button--active {
	background-color: #4B6464;
}

.slideshow__container {
	width: 100%;
	overflow: hidden;
}

.slideshow__item {
	width: auto;
	max-width: 40vh;
}

.navigating__buttons {
	width: 100%;
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	position: absolute;
	right: 50%;
	bottom: 1%;
	transform: translateX(50%)
}

.navigating__button {
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	border: 2px solid #566D6C;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: .3rem;
}

.navigating__button--left {
	background-image: url(../assets/arrow-left.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.navigating__button--right {
	background-image: url(../assets/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
}